.container{
    min-height: 800px;
}
.buttonHolder{
    padding: 10px;
}
.createNew{
    background-color: #8C198C;
    color:white;
    font-size: 20px;
    float: right;
}

.createNew:hover{
    background-color: rgb(165, 65, 165) !important;
    color:white !important;
}

.editButton{
    color: goldenrod;
}

.editButton:hover{
    cursor: pointer;
    color: rgb(243, 190, 56);
}

.w3-panel{
    padding-top: 20px;
    padding-bottom: 20px;
}
 
hr{
    border-top: 1px solid rgb(184, 182, 182);
}