<div class="w3-light-grey" style="padding:15px">
  <div class="container" *ngIf="userStory != undefined">
    <form id="contact" (ngSubmit)="onSubmit(); usForm.reset()" #usForm="ngForm">
      <h4>{{cardTitle}}</h4>
      <fieldset>
        <input name="nameInput" placeholder="Uset Story Name" type="text" tabindex="1" required autofocus [(ngModel)]="userStory.name">
      </fieldset>
      <br>

      <h4>As a</h4>
      <fieldset>
        <input name="userTypeInput" placeholder="User Type" type="text" tabindex="1" required [(ngModel)]="userStory.userType">
      </fieldset>
      <h4>I can</h4>
      <fieldset>
        <input name="activityInput" placeholder="Acitivity" type="text" tabindex="2" required [(ngModel)]="userStory.activity">
      </fieldset>
      <h4>so that</h4>
      <fieldset>
        <input name="businessValueInput" placeholder="Business Value" type="text" tabindex="3" required [(ngModel)]="userStory.businessValue">
      </fieldset>

      <br>
      <hr>
      <br>

      <h4>Acceptance criteria : </h4>
      <fieldset>
        <textarea name="acceptanceCriteriaInput" cols="40" rows="5" [(ngModel)]="userStory.acceptanceCriteria"></textarea>
      </fieldset>
      <fieldset>
        <select name="projectInput" required [(ngModel)]="selectedProject">
          <option *ngFor="let project of projects" [ngValue]="project">{{project.name}}</option>
        </select>
      </fieldset>

      <br>

      <fieldset>
        <button name="Cancel" type="button" id="contact-cancel" (click)="onCancel();">Cancel</button>
        <button name="submit" type="submit" id="contact-submit" [disabled]="!usForm.form.valid">{{btnText}}</button>
      </fieldset>
    </form>
  </div>
</div>