<div class="w3-light-grey">
  <div class="canvas center">
    <form id="workflowForm" (ngSubmit)="onSubmit();" #wForm="ngForm">

      <div class="selectionPannel">
        <h4>User Story</h4>
        <select name="usInput" required [(ngModel)]="selectedUserStory">
          <option *ngFor="let userStory of allNewUserStories" [ngValue]="userStory">{{userStory.name}}</option>
        </select>
        <h4>Workflow</h4>
        <select name="wfInput" required [(ngModel)]="selectedWorkflow">
          <option *ngFor="let workflow of allActiveWorkflows" [ngValue]="workflow">{{workflow.name}}</option>
        </select>
      </div>

      <div class="display">
        <div class="visual" *ngIf="selectedWorkflow != undefined">
          <div class="nameTag center">
            <label>Start</label>
          </div>

          <div class="circle start center"></div>

          <div class="line"></div>

          <div class="oval center">
            <div class="nameTag center">
              <label>{{selectedUserStory.name}}</label>
            </div>
          </div>

          <div class="activity" *ngFor="let activity of selectedWorkflow.activities | orderBy: activityOrderNumber; let i=index">
            <div class="line"></div>

            <div class="rectangle center">

              <div class="activityNameLabel">
                <label>{{activity.name}}</label>
              </div>

              <div class="content">
                <!-- Fields -->
                <div *ngFor="let field of activity.fields">
                  <div *ngIf="field.type.id==1">
                    <h6>
                      <b>{{field.type.name}} :</b>
                    </h6>
                    <label>{{field.value}}</label>
                  </div>
                  <div *ngIf="field.type.id==3">
                    <h6>
                      <b>{{field.type.name}} :</b>
                    </h6>
                    <input [name]="'input3' + i" [type]="field.type.dataType" required [(ngModel)]="field.value">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="line"></div>

          <div class="circle end center"></div>
          <div class="nameTag center">
            <label>End</label>
          </div>
        </div>
      </div>
      <div class="buttonHolder">
        <button name="cancelBtn" type="button" class="button cancel" (click)="onCancel()">Cancel</button>
        <button name="submitBtn" type="submit" class="button submit" [disabled]="!wForm.form.valid">{{buttonText}}</button>
      </div>
    </form>
  </div>
</div>