<div class="w3-main">

<!-- Quick view tiles -->
  <div class="w3-row-padding w3-margin-bottom" style="padding-top:22px">
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-address-card w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>88</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>User Stories</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-thumbs-up w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>52</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Approved</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-ban w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>10</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Rejected</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>08</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>System Users</h4>
      </div>
    </div>
  </div>
<!-- end of quick view tiles-->

<!--Current Executions-->
  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div>
        <h5>Current Executions</h5>
        <table class="w3-table w3-striped w3-white">
          <tr *ngFor="let exec of currentExecutions | orderBy: 'status'">
            <td><i [class]="exec.icon"></i></td>
            <td>{{exec.name}}</td>
            <td><div class="w3-container w3-center w3-padding w3-green" [style.width]="exec.completetion + '%'">{{exec.completetion}}</div></td>
            <td><i>{{exec.dueDate | date : 'dd-MM-yyyy'}}</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!--End of Current Executions-->

  <hr>
  <div class="w3-container">
    <h5>General Stats</h5>
    <p>New Visitors</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
    </div>

    <p>New Users</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
    </div>

    <p>Bounce Rate</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:75%">75%</div>
    </div>
  </div>
  <hr>

  <!-- End page content -->
</div>

